body {
    margin-top: 80px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-family: 'Kalam', cursive;
    text-align: center;
}
.container {
	-webkit-animation-delay: 0.2s;
}
h1 {  
    font-family: 'Permanent Marker', cursive;
    -webkit-animation-delay: 1.5s;
}
h4 {
    -webkit-animation-delay: 3s;
}
hr {
    color: black;
    background-color: black;
    height: 2px;
    width: 50%;
}
.about {
	margin-top: 40px;
    border: 2px solid #564138;
    padding: 25px;
}
.form {
	margin-top: 40px;
}
footer {
	background-color: rgba(0, 0, 0, 0.5);
    color: #a6c1ee;
}